body {
  background-color: rgb(53, 51, 51);
  /* background-image: url(./pics/pulse.jpeg);
  background-size: cover;
  background-repeat: no-repeat; */
  color: black;
  margin: auto;
  /* background-position: center; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-content: flex-end; */
  /* align-content: center; */
  /* align-content: flex-end; */
  /* padding: 10px; */
}

#jumbotronHome {
  background-image: url(./pics/pulse.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3%;
  /* margin: 3% 0%; */
}

#jumbotronAccountType {
  background-image: url(https://raw.githubusercontent.com/Ezmapel/SPA-capstone-SPA/master/pics/accountTypeBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  /* width: 80vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 3%; */
  margin: 3% 0%;
  /* filter: blur(4px);
  -webkit-filter: blur(4px);
  z-index: 1; */
}

#jumbotronPatientPortal {
  background-image: url(https://raw.githubusercontent.com/Ezmapel/SPA-capstone-SPA/master/pics/patientPortalBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  /* width: 80vw; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* padding: 3%; */
  margin: 3% 0%;
  /* filter: blur(4px);
  -webkit-filter: blur(4px);
  z-index: 1; */
}

.jumbotronAccountText {
  /* z-index: 9999; */
  /* backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
}

.headerAcct {
  /* border: 3px solid black; */
  /* max-width: 40%; */
  /* margin: 3% 30% 2% 30%; */
  font-size: 58px;
  padding: 0%;
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: center;
  text-shadow: -3px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

nav {
  background-color: rgb(53, 51, 51);
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 6px 1px rgba(77, 77, 77, 0.639);
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; /* delete after*/
  /* align-content: flex-start;
  text-align: end;
  flex-wrap: nowrap; */
  color: white;
  font-size: 10px;
}

li {
  /* padding: 15px 30px; */
  /* switch these after; */
  padding: 5px;
}

.accent:hover {
  background-color: rgb(122, 151, 164);
  color: black;
  cursor: pointer;
}

/* @media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
} */

/* @media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
} */

.header {
  /* border: 3px solid black; */
  max-width: 40%;
  margin: 3% 30% 2% 30%;
  font-size: 72px;
  padding: 0%;
  display: flex;
  justify-content: center;
  text-shadow: -3px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h1 {
  margin: 0;
}

.border {
  text-shadow: -1px 0 rgb(48, 48, 48), 0 1px rgb(48, 48, 48), 1px 0 rgb(48, 48, 48), 0 -1px rgb(48, 48, 48);
}

.loginBox {
  background: rgba(0, 0, 0, 0.249);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: white;
  /* max-width: 40%; */
  margin: 3% 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 2%;
  border: 4px double white;
  outline: 2px solid white;
  box-shadow: 2px 2px 5px 7px rgba(77, 77, 77, 0.639);
  border-radius: 5px;
  font-size: 20px;
}

.signin {
  padding: 5px;
  margin: 0% 15% 3% 15%;
}

::placeholder {
  color: rgb(160, 158, 158);
}

.login {
  display: flex;
  justify-content: center;
  margin: 5% 40% 2% 40%;
  background-color: rgb(208, 135, 0);
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 3%;
  font-size: 14px;
  font-weight: bold;
}

.login:hover {
  background-color: rgb(162, 106, 1);
  cursor: pointer;
}

.noaccount {
  /* border: 3px solid green; */
  font-style: italic;
  font-size: 12px;
  margin: 8% 15% 0% 15%;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.buttonGroup {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 12px;
  margin: 0% 15% 0% 15%;
}

p {
  /* font-weight: bold; */
  font-size: 14px;
  padding: 0px 20px;
}

.buttons {
  min-width: 40%;
  padding: 2%;
  background-color: rgb(120, 120, 242);
  border: 0px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.buttons:hover {
  background-color: rgb(85, 85, 142);
  cursor: pointer;
}

footer {
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  background-color: rgb(53, 51, 51);
  box-shadow: 0 -1px 3px 1px rgba(77, 77, 77, 0.639);
}

.inset {
  margin: 0px 50px;
}

/* Start AccountType specific css */
h3 {
  font-size: 36px;
  margin: 5px 30px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#vertcenter {
  margin: 3% 10% 0% 10%;
}

.center {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 1% 10% 0% 10%;
}

.imageOne {
  display: block;
  max-width: 35%;
  max-height: 35%;
  height: auto;
  width: auto;
  border-radius: 10px;
}

.acctTypeButton {
  padding: 3%;
  margin: 2%;
  max-width: 30%;
  align-self: flex-start;
  border-radius: 10px;
  background-color: rgb(120, 120, 242);
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

button:hover {
  background-color: rgb(85, 85, 142);
  cursor: pointer;
}

.showMe {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  color: rgb(182, 184, 186);
  font-size: 48px;
}

/* .showMeNoButton {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 48px;
} */

.timeSlot {
  display: flex;
  color: white;
  border: 5px solid black;
}

.underNav {
  display: flex;
  justify-content: space-between;
  padding: 5% 0% 0% 1%;
}

.navInApp {
  display: flex;
  /* justify-content: flex-start; */
  /* margin: 7% 40% 2% 5%; */
  background-color: rgb(208, 135, 0);
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 1%;
  font-size: 14px;
  font-weight: bold;
}

.navInApp:hover {
  background-color: rgb(162, 106, 1);
  cursor: pointer;
}

.doctorProfile {
  background: rgba(0, 0, 0, 0.249);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: rgb(122, 151, 164);
  margin: 3% 20%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  align-content: center;
  /* text-align: center; */
  padding: 2% 10%;
  border: 4px double white;
  outline: 2px solid white;
  /* box-shadow: 2px 2px 5px 7px rgba(77, 77, 77, 0.639); */
  border-radius: 5px;
  font-size: 20px;
}

.doctorFormItem {
  margin: 3%;
}

.portalText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.splitPortal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portalButton {
  /* display: flex;
  justify-content: space-between; */
  /* padding: 3%;
  margin: 2%;
  max-width: 50%; */
  margin: 5%;
  height: 100px;
  width: 200px;
  background-color: rgb(208, 135, 0);
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 3%;
  font-size: 14px;
  font-weight: bold;
}

.portalButton:hover {
  background-color: rgb(162, 106, 1);
  cursor: pointer;
}

.logOutButton {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  /* justify-content: flex-end; */
  margin: 0% 2% 0% 0%;
  background-color: rgb(120, 120, 242);
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 1%;
  font-size: 14px;
  font-weight: bold;
}

.logOutButton:hover {
  background-color: rgb(85, 85, 142);
  cursor: pointer;
}

.logOutButtonHidden {
  visibility: hidden;
}

.hiddenButton {
  visibility: hidden;
}

/* CALENDAR STYLING */

.day {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(91, 88, 88);
  padding: 2%;
  /* height: 1000px; */
  /* flex-wrap: wrap; */
}

.dayOne {
  display: flex;
  flex-direction: column;
  width: 15%;
  /* max-height: 200px; */
  /* height: 30%; */
}

.dayTwo {
  display: flex;
  flex-direction: column;
  width: 15%;
  /* height: 30%; */
}

.dayThree {
  display: flex;
  flex-direction: column;
  width: 15%;
  /* height: 30%; */
}

.dayFour {
  display: flex;
  flex-direction: column;
  width: 15%;
  /* height: 30%; */
}

.dayFive {
  display: flex;
  flex-direction: column;
  width: 15%;
  /* height: 30%; */
}

.calendar1 {
  border: 2px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 5px;
  /* background-color: rgb(57, 2, 2); */
}

.calendar2 {
  border: 2px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 5px;
  /* background-color: rgb(57, 2, 2); */
}

.calendar3 {
  border: 2px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 5px;
  /* background-color: rgb(57, 2, 2); */
}

.calendar4 {
  border: 2px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 5px;
  /* background-color: rgb(57, 2, 2); */
}

.calendar5 {
  border: 2px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 5px;
  /* background-color: rgb(57, 2, 2); */
}

.calendar1:hover {
  box-shadow: 0 3px 6px 3px black;
}

.calendar2:hover {
  box-shadow: 0 3px 6px 3px black;
}

.calendar3:hover {
  box-shadow: 0 3px 6px 3px black;
}

.calendar4:hover {
  box-shadow: 0 3px 6px 3px black;
}

.calendar5:hover {
  box-shadow: 0 3px 6px 3px black;
}

.individualSearchResult {
  color: rgb(199, 202, 203);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* align-content: center; */
  background-color: rgb(91, 88, 88);
  padding: 1% 5%;
  margin: 1%;
}

.split {
  display: flex;
  justify-content: space-between;
}

.splitBottom {
  display: flex;
  justify-content: space-between;
  /* border-top: 1px double black; */
  border-top: 4px double gray;
}

.docBold {
  font-size: 18px;
  font-weight: bolder;
}

.searchButtons {
  display: flex;
  /* margin: 1% 0%; */
  padding: 1%;
}

.searchResultButton {
  display: flex;
  /* justify-content: flex-start; */
  /* margin: 7% 40% 2% 5%; */
  background-color: rgb(208, 135, 0);
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 1%;
  font-size: 14px;
  font-weight: bold;
  margin: 0% 1%;
}

.searchResultButton:hover {
  background-color: rgb(162, 106, 1);
  cursor: pointer;
}

.acceptingPatients {
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin: 7% 40% 2% 5%; */
  background-color: rgb(5, 57, 7);
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 1%;
  font-size: 14px;
  font-weight: bold;
  margin: 0% 1%;
}

.specificDocHidden {
  visibility: hidden;
}

#freshDocProfile {
  color: rgb(122, 151, 164);
  display: flex;
  justify-content: center;
}

.docProfileCenter {
  display: flex;
  flex-direction: column;
  margin: 0% 5%;
}

.profileImg {
  height: 90px;
  width: 90px;
  margin: 18px 0px;
}

.profileImgTwo {
  height: 250px;
  width: 250px;
  border: 2px solid gray;
}

.profileName {
  font-size: 24px;
}

.splitPhoto {
  display: flex;
}

.lineOnTop {
  border-top: 4px double gray;
}

.lightText {
  color: rgb(176, 185, 189)
}

.availabilityHeader {
  background-color: rgb(91, 88, 88);
}

.availabilityHeaderTitle {
  background-color: rgb(91, 88, 88);
  display: flex;
  justify-content: center;
  color: rgb(208, 211, 213);
  font-size: 24px;
}

.centerMiddleBottom {
  display: flex;
  justify-content: center;
  padding: 2%;
}
